body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/*-------------------------HEADER--------------------------*/

.header-logo-italic {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-novigation-logo {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}

.header-address-contact {
  color: #434455;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-address-contact:hover {
  color: #404bbf;
}
.header-address-contact:focus {
  color: #404bbf;
}

.hero-title {
  line-height: 1.07;
}

/*--------------------------------------------------------------------------*/

/*----------------------------HERO------------------------------------------*/
.hero-title {
  font-size: 56px;
  line-height: 1.08;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.hero-title {
  background-color: #2e2f42;
}
.hero-order-btn:hover {
  background-color: #404bbf;
}
.hero-order-btn:focus {
  background-color: #404bbf;
}

.hero-order-btn {
  background-color: #4d5ae5;
}
.hero-order-btn {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}
button {
  cursor: pointer;
}

/*-----------------------------------------------------------------------------*/
/*----------------------------ABOUT-US-----------------------------------------*/
.about-us-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.about-us-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/*------------------------------------------------------------------------------*/

/*-------------------------------OUR TEAM----------------------------------------*/

.team {
  background-color: #ffffff;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.team-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/*----------------------------------------------------------------------------------------*/

/*-----------------------------------PORTFOLIO--------------------------------------------*/
.subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.subtitle-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/*----------------------------------------------------------------------------------------*/

/*--------------------------------FOOTER-------------------------------------------------*/
.footer {
  background-color: #2e2f42;
}
.footer-logo-italic {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/*---------------------------------------------------------------------------------*/
